html,
body {
    width: 100%;
    height: 100%;
}
body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

 

.text-muted {
    color: #777;
}

.text-primary {
    color: #d23f6f;
}

p {
    line-height: 1.5;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color:black;
}

 

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #d23f6f;
}

a:hover {
    color: #f6bf01;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #d23f6f;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #d23f6f;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #d23f6f;
    background-color: #d23f6f;
}

.btn-primary .badge {
    color: #d23f6f;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #d23f6f;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #d23f6f;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #d23f6f;
    background-color: #d23f6f;
}

.btn-xl .badge {
    color: #d23f6f;
    background-color: #fff;
}

section {
    padding: 100px 0;
}

iframe {
    vertical-align:bottom;
} 



aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #d23f6f;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #d23f6f;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #d23f6f!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #d23f6f;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #d23f6f;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #d23f6f;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
} 

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #d23f6f;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-xl {
    padding: 15px 30px;
}
header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    color: rgba(255,255,255,.7);
} 

section {
    padding: 0px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 0px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#bucketlist .bucketlist-item {
    right: 0;
    margin: 0 0 15px;
}

#bucketlist .bucketlist-item .bucketlist-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#bucketlist .bucketlist-item .bucketlist-link .bucketlist-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #d23f6f;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#bucketlist .bucketlist-item .bucketlist-link .bucketlist-hover:hover {
    opacity: .97;
}

#bucketlist .bucketlist-item .bucketlist-link .bucketlist-hover .bucketlist-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#bucketlist .bucketlist-item .bucketlist-link .bucketlist-hover .bucketlist-hover-content i {
    margin-top: -12px;
}

#bucketlist .bucketlist-item .bucketlist-link .bucketlist-hover .bucketlist-hover-content h3,
#bucketlist .bucketlist-item .bucketlist-link .bucketlist-hover .bucketlist-hover-content h4 {
    margin: 0;
}

#bucketlist .bucketlist-item .bucketlist-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}


@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

#bucketlist .bucketlist-item .bucketlist-caption h4 {
    margin: 0;
    text-transform: none;
}

#bucketlist .bucketlist-item .bucketlist-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#bucketlist * {
    z-index: 2;
}

@media(min-width:767px) {
    #bucketlist .bucketlist-item {
        margin: 0 0 30px;
    }
} 

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

section {
    padding: 0px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 100px 0;
    }

}


.service-heading {
    margin: 15px 0;
    text-transform: none;
}
 

@media(min-width:767px) {
    #bucketlist .bucketlist-item {
        margin: 0 0 30px;
    }
}
      

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.bucketlist-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bucketlist-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
    margin-top:-50px;
}

.bucketlist-modal .modal-content p {
    margin-bottom: 20px;
}

.bucketlist-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.bucketlist-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.bucketlist-modal .modal-content img {
    margin-bottom: 30px;
}

.bucketlist-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.bucketlist-modal .close-modal:hover {
    opacity: .3;
}

.bucketlist-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bucketlist-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bucketlist-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #f6bf01;
}

::selection {
    text-shadow: none;
    background: #f6bf01;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}


body {
    webkit-tap-highlight-color: #d23f6f;
}
}

@media (max-width: 550px) {
    .big-container {
        display: none;
    }
}
@media (min-width: 550px) {
    .small-container {
        display: none;
    }
} 
 
@media only screen and (min-width: 768px) {
  .goodies-modal {
    text-align: center;
    overflow-y: auto;

  }


  #psdModal:before, #mediaModal:before, #fandangoModal:before {
    display: inline-block;
    content: " ";
    height: 25%;
  }

  #recModal .modal-dialog {
    width:80%;
  }

  #recModal .modal-body {
    margin-left:20px;
    margin-right:20px;
  }

  #recModal .modal-body {
    text-align:left;
  }

  .goodies-modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .goodies-modal.fade .goodies-modal-dialog {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .goodies-modal.fade.in .goodies-modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    //-webkit-transform: translate3d(0, -300px, 0);
    //transform: translate3d(0, -300px, 0);
    opacity: 1;
  }
}

h2 {
  text-align: center;
}

 
 .lessSpace { /*prevent form from being too close*/
    margin-bottom:-25px;
}
 


.menu-ui {
  background:#fff;
  position:absolute;
  float:right;
  margin-top:80px;
  margin-left:10px;
  z-index:1;
  border-radius:3px;
  font-family:Montserrat;
  width:100px;
  border:1px solid rgba(0,0,0,0.4);
  }
  .menu-ui a {
    font-size:10px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }
    .menu-ui a:first-child {
      border-radius:3px 3px 0 0;
      }
    .menu-ui a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
    .menu-ui a:hover {
      background:#f8f8f8;
      color:#404040;
      }
    .menu-ui a.active,
    .menu-ui a.active:hover {
      background:#d23f6f;
      color:#FFF;
      }

#search {
  position:relative;
  margin-top:-103px;
  margin-left:10px;
  width:200px;
  background:#fff;
  font-size:10px;
  position:absolute;
  z-index:1;
  border-radius:3px;
  font-family:Montserrat;
  width:100px;
  border:1px solid rgba(0,0,0,0.4);

  }


  body {
    padding: 2em;
}

.panel-group .list-group {
    margin-bottom: 0;
}

.panel-group .list-group .list-group-item {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.panel-group .list-group .list-group-item:last-child {
    border-bottom: none;
}
 
.panel-heading {
    background: #d23f6f !important;
    color: white !important;
}

.panel-heading a {
    color: white;
    font-size: 14px;
}

#navigation{
position:relative;
  float:left;
  margin-top:-191px;
  margin-left:10px;
 
}

.parent {
    height:100px;
}

#map {
    height:500px;
    max-height:500px;
}

#map img {
    max-height:500px;
}

.mediaQuote  {
    font-size:13px !important;
    font-style:italic;
}

#message{
    font-size:13px;
}
 


</style>